:root { 
--gray_50_01:#fafcff; 
--gray_50_02:#f8f9fa; 
--black_900_b2:#000000b2; 
--gray_50_03:#f9fbff; 
--gray_50_04:#f5f9ff; 
--light_blue_100:#b0e5fc; 
--red_200:#fa9a9a; 
--blue_A200:#4d90ff; 
--green_A100:#b5eacd; 
--black_900_3f:#0000003f; 
--black_900_01:#090b0d; 
--blue_gray_700:#424c5d; 
--blue_gray_900:#262b35; 
--blue_900:#003995; 
--blue_gray_100:#d6dae2; 
--blue_gray_300:#9ea8ba; 
--gray_200:#efefef; 
--blue_50:#e0ebff; 
--blue_gray_100_6c:#d1d3d46c; 
--blue_gray_400_01:#808191; 
--blue_gray_700_02:#535353; 
--white_A700:#ffffff; 
--blue_gray_700_01:#535763; 
--deep_orange_50:#f9eee3; 
--red_700:#d03329; 
--blue_gray_50:#eaecf0; 
--blue_A700:#0a58ff; 
--blue_A700_01:#0061ff; 
--gray_700_0c:#5555550c; 
--green_600:#349765; 
--gray_50:#f4f8ff; 
--blue_A700_02:#0065ff; 
--red_100:#ffe1cc; 
--black_900:#000000; 
--deep_orange_400:#d58c48; 
--gray_700_11:#55555511; 
--gray_900_02:#0d1624; 
--gray_900_03:#0f0e17; 
--blue_gray_200:#bac1ce; 
--blue_gray_400:#74839d; 
--blue_800:#0051d5; 
--blue_gray_600:#5f6c86; 
--orange_A700:#ff6700; 
--gray_900:#11142d; 
--gray_900_01:#0d062d; 
--gray_300:#d2efe0; 
--gray_100:#fbf1f2; 
--deep_orange_A100_33:#dfa87433; 
--blue_200:#a6c8ff; 
}